PORT=5001
NODE_ENV=production
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster0.xxxxx.mongodb.net/finsight?retryWrites=true&w=majority
JWT_SECRET=replace_this_with_a_64_char_random_string
GROQ_API_KEY=gsk_your_key_from_console_groq_com
SMTP_USER=yourgmail@gmail.com
SMTP_PASS=your_16_char_gmail_app_password
CLIENT_URL=https://your-frontend.vercel.app
